@page "/panel/{id:int}/edit/"
@using BusinessLogic
@using BusinessLogic.DTOs
@inherits Auth
@inject UserDto UserLog
@inject PanelLogic PanelLogic
@inject NavigationManager NavigationManager

<h1>Edit Panel</h1>

<h3>
    User Logged: @UserLog.FirstNameAndLastName
</h3>

<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" @bind="_currentPanel.Name" />
    </div>
    <div class="form-group">
        <label for="team">Team</label>
        <input type="text" class="form-control" id="team" @bind="_currentTeam.Name" readonly/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" @bind="_currentPanel.Description" />
    </div>

    <br />

    <div class="form-error">
        @_message
    </div>

    <br />

    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
    <a href="/PanelVisualization">Cancelar</a>
</form>
@code {
    [Parameter]
    public int Id { get; set; }
    private string _message = "";

    private TeamDto? _currentTeam;
    private PanelDto? _currentPanel;
    
    protected override void OnInitialized()
    {
        _currentPanel = PanelLogic.GetPanelById(Id);;
        _currentTeam = _currentPanel.TeamDto;
    }
    
    private void SaveChanges(){
        try
        {
            PanelLogic.ModifyPanel(_currentPanel);
            NavigationManager.NavigateTo("/PanelVisualization");
        }
        catch (ArgumentException ex)
        {
            _message = ex.Message;
        }
    }
}