<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Task Panel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/UserManagement">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TeamManagement">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Team Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PanelVisualization">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Panel Visualization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RecycleBin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RecycleBin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/UploadTask">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Upload Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SignOut">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}