@page "/{id:int}/{idP:int}/addComment/"

@using BusinessLogic
@using BusinessLogic.DTOs
@inherits Auth
@inject UserDto UserLog
@inject CommentLogic CommentLogic
@inject NavigationManager NavigationManager

<h1>Add Comment</h1>

<h3>
    User Logged: @UserLog.FirstNameAndLastName
</h3>

<form>
    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" class="form-control" id="content" @bind="_currentComment.Content" />
    </div>

    <br />

    <div class="form-error">
        @_message
    </div>

    <br />

    <button type="button" class="btn btn-primary" @onclick="SaveChanges">Create Comment</button>
    <a href="/@Id/@IdP/openComments/" >Cancelar</a>
</form>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public int IdP { get; set; }
    private string _message = "";
    
    private CommentDto? _currentComment;
    
    protected override void OnInitialized()
    {
        _currentComment = new CommentDto();
    }
    
    private void SaveChanges()
    {
        try
        {
            _currentComment.AuthorDto = UserLog;
            _currentComment.DateAndTime=DateTime.Now;
            CommentLogic.CreateComment(_currentComment,Id,IdP);
            NavigationManager.NavigateTo($"/{Id}/{IdP}/openComments/" );
        }
        catch (ArgumentException ex)
        {
            _message = ex.Message;
        }
    }
}